<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
</head>
<body>
    <p>Hi! I'm Ines, a biologist born in northern Germany.</p>
    <br>
    <p>My passions lie in science, education and technology. After school, I decided to delve deep into science, earning a PhD in malaria research from Columbia University. Later on, I went into project management for a non-profit in the field of malaria vaccine development. And after that, I helped building up an interdisciplinary, multi-locational graduate program in bioeconomy.</p> 
    <p>Currently, my day job is creating the "Book of the Future" at a big science publisher. And I am learning how to program at night (and early morning).</p>
    <br>
    <p>This website is about my coding projects, some UX and UI work that I have done and my journey of learning how to code.</p>
    <p>My interest in coding started in elementary school when my father brought home a Want 286. I first copied BASICS code from Kellogg's Frosties packages into DOS to create little hangman programs, then searched the local library for "coding for kids" books to learn a bit more. I continued exploring on the old HP CX programmamble calculator my uncle gave to me, and later informatics classes learning a bit of Turbo Pascal and HTML at high school (I even made it into the local newspaper for being the only girl in the first informatics class at my school).</p>
    <br>
    <p>After a bit of a hiatus (of 15 years) I picked up coding again and started with learning Swift as a hobby in 2014. I also got into fullstack web development and had a peak into Python.</p>
    <p>I've been continuously learning and applying these skills in various projects, expecially in creating user-friendly and impactful digital content. My focus has always been on making learning engaging and accessible, particularly in the realms of science and technology.</p>
    <p>Welcome to my world, where my excitement of biology meets my passion for education and the creativity of programming, all aimed at creating a more informed and connected digital universe.</p>
</body>
</html>